.round1{
	width: 400px;
	border-radius: 50%;
}
.round2{
	width: 400px;
	border-radius: 50px;
}
.round3{
	width: 400px;
	opacity: 0.2;
}
.round4{
	width: 400px;
	filter: blur(10px);
}
.round5{
	width: 400px;
	filter: grayscale(90%);
}
.round6{
	width: 400px;
	filter: brightness(10%);
}