.round1{
	width: 400px;
	border-radius: 50%;
}
.round2{
	width: 400px;
	border-radius: 50px;
}
.round3{
	width: 400px;
	opacity: 0.2;
}
.round4{
	width: 400px;
	filter: blur(10px);
}
.round5{
	width: 400px;
	filter: grayscale(90%);
}
.round6{
	width: 400px;
	filter: brightness(10%);
}
@keyframes rotation{
	0% {transform: rotate(45deg);}
	25% {transform: rotate(90deg);}
	50% {transform: rotate(135deg);}
	100% {transform: rotate(180deg);}
}
.round1:hover{
	animation-name: rotation;
	animation-duration: 4s;
}