h1 {
  color: red;
  font-size: 30px;
}

p {
  color: blue;
  font-size: 24px;
}

.red {
  color: orange;
  font-size: 30px;
}

li.yellow {
  color: yellow;
}
p[align]{
	color: pink;
}
p[align="center"]{
	color: brown;
	font-size: 30px;

}
.imgstyle{
	color:magenta;
	font-size: 40px;
	text-align: center;
}
.imgstyle:hover{
	font-size: 80px;
}